[[source]]
name = "pypi"
url = "$PYPI_URL"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-runner = "*"

[packages]
click = "*"
toxic-sentiment = {editable = true,path = "."}
torch = "*"
pandas = "*"
ipykernel = "*"
numpy = "*"
matplotlib = "*"
python-decouple = "*"

[requires]
python_version = "3.8"
